* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #301c17;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 120px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #db9e61;
}

.hero {
    background-image: url('imagenini.jpeg'); /* Imagen de fondo representando artesanías bolivianas */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background-color: #db9e61;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #994e2b;
}

.productos {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
}

.productos h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #301c17;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.producto {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.producto h3 {
    margin: 15px 0;
    font-size: 22px;
}

.producto p {
    font-size: 16px;
    margin-bottom: 15px;
}

footer {
    background-color: #301c17;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
